[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-image-helper = "*"
tensorflow-protobuf = "==2.11.0"
flask = "*"
gunicorn = "*"
fastapi = "==0.88.*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
grpcio = "*"
pydantic = ">=1.2.0,<2.0.0"

[dev-packages]
requests = "*"
httpx = "*"
pytest = "*"
locust = "*"

[requires]
python_version = "3.9"
