[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
keras-image-helper = "*"
tensorflow-protobuf = "==2.11.0"
flask = "*"
gunicorn = "*"
fastapi = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
